@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1{
    margin-top: 30px;
    font-size: 55px;
    margin-bottom: 30px;
}
h2{
    font-size: 45px;
    margin-bottom: 20px;
}
h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 100px;
}
p{
    margin-bottom: 40px;
    font-size: 20px;
    color: gray;
}
img{
    width: 90%;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-box{
    background-image: linear-gradient(orange, tomato);
    padding: 20px 40px;
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #FF8621;
    font-weight: 900;
    font-size: 20px;
}
.peter-parker{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

section{
    margin-bottom: 100px;
}

/* ==============dream-big-area============== */

.dream-big-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big-area h4{
    font-size: 25px;
    margin-bottom: 15px;
}
.dream-big-area h1{
    font-size: 50px;
}

/* =========experiance=========== */
.experiense-area .orange{
    font-size: 20px;
    margin-bottom: 10px;
}
.experiense-area h2{
    font-size: 30px;
    margin: 10px 0;
}
.experiense-items1{
    width: 45%;
    padding-left: 3%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 6.5px solid orange;
    border-radius: 9.5px;
}
.experiense-items2{
    width: 45%;
    padding-left: 3%;
    box-shadow: 10px 10px 40px gray;
    /* margin-left: 5%; */
    margin-right: 5%;
    border-left: 6.5px solid rgb(31, 38, 240);
    /* height: 350px;
    align-items: center; */
    border-radius: 9.5px;
}
.experiense-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 7%;
}